<div>
    <div class="footer-info">
        <div class="address">
            <h2><strong>Funiro.</strong></h2>
            <p>
                400 University Drive Suite 200 Coral Gables, <br>
                FL 33134 USA
            </p>
        </div>
        <div class="links">
            <h4><strong>Links</strong></h4>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="help">
            <h4><strong>Help</strong></h4>
            <ul>
                <li><a href="#">Payment Options</a></li>
                <li><a href="#">Returns</a></li>
                <li><a href="#">Privacy Policies</a></li>
            </ul>
        </div>
        <div class="newsletter">
            <h4><strong>Newsletter</strong></h4>
            <input class="newsletter__mail" type="email" placeholder="Enter Your Email Address">
            <input class="newsletter__btn" type="submit" value="SUBSCRIBE">
        </div>
    </div>
    <div class="reserved">
        <p>2023 furino. All rights reserved</p>
    </div>
</div>