<div class="menu">
    <div class="logo">
        <img src="images/icons/Meubel-House_Logos-05.svg" alt="Furniro">
        <h1><strong>Furniro</strong></h1>
    </div>
    <div class="menu-mobile-icon">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <nav class="nav-pages">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <div class="nav-icons">
        <ul>
            <li><a href="#"><img src="images/icons/mdi_account-alert-outline.svg" alt="Account alert"></a></li>
            <li><a class="search-icon-desktop" href="#"><input type="search" name="search" id=""><img src="images/icons/akar-icons_search.svg" alt="Search"></a></li>
            <li><a href="#"><img src="images/icons/akar-icons_heart.svg" alt="Like"></a></li>
            <li><a href="#"><img src="images/icons/ant-design_shopping-cart-outlined.svg" alt="Buy"></a></li>
        </ul>
    </div>
</div>