$black: #000000;
$white: #ffffff;
$color-btn-title: #b88e2f;
$color-ochreous-bg: #fff3e3;
$color-ochreous-bg-light: #fcf8f3;
$color-grey1: #333333;
$color-grey2: #3a3a3a;
$color-grey3: #666666;
$color-grey4: #616161;
$color-grey5: #898989;
$color-grey6: #9f9f9f;
$color-grey7: #B0B0B0;
$color-grey8: #d8d8d8;
$color-grey9: #f4f5f7;
$color-grey10: #d9d9d9;