@keyframes showMoreBtn {
    0% {
        width: 0%;
        height: 1px;
        left: 0%;
        top: -1px;
    }
    5% {
        width: 50%;
        height: 1px;
        left: 0%;
        top: -1px;
    }
    20% {
        width: 50%;
        height: 1px;
        left: 101%;
        top: -1px;
    }
    20% {
        width: 1px;
        height: 0%;
        left: 100%;
        top: -1px;
    }
    25% {
        width: 1px;
        height: 50%;
        left: 100%;
        top: -1px;
    }
    40% {
        width: 1px;
        height: 50%;
        left: 100%;
        top: 105%;
    }
    40% {
        width: 0%;
        height: 1px;
        left: 100%;
        top: 100%;
    }
    45% {
        width: 50%;
        height: 1px;
        left: 100%;
        top: 100%;
    }
    60% {
        width: 50%;
        height: 1px;
        left: 0%;
        top: 100%;
    }
    60% {
        width: 0%;
        height: 1px;
        left: 0%;
        top: 100%;
    }
    65% {
        width: 1px;
        height: 0%;
        left: -1px;
        top: 100%;
    }
    80% {
        width: 1px;
        height: 50%;
        left: -1px;
        top: 100%;
    }
    80% {
        width: 1px;
        height: 50%;
        left: -1px;
        top: 0%;
    }
    85% {
        width: 1px;
        height: 0%;
        left: -1px;
        top: 0%;
    }
    100% {
        width: 1px;
        height: 0%;
        left: -1px;
        top: -1px;
    }
}

@keyframes animateMenuOpen {
    from {
        right: -100vw;
    }
    to {
        right: 0;
    }
}

@keyframes animateMenuClose {
    from {
        right: 0;
    }
    to {
        right: -100vw;
    }
}